:root {
    --background-color: #b0b6b6;
    --accent-color: #000000;

    --spacing-xs: 8px;
    --spacing-sm: 13px;
    --spacing-md: 21px;
    --spacing-lg: 34px;

    --font-xs: 10px;
    --font-sm: 16px;
    --font-md: 20px;
    --font-lg: 36px;
    --font-xl: 60px
}

body {
    background: linear-gradient(90deg,rgb(103, 138, 162) 0%, rgba(122, 145, 134, 1) 50%, rgb(153, 125, 101) 100%);;
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
    color: #000000;
    text-align: center;
    align-items: center;
    padding: 0 20px;
}

h2 {
    font-size: var(--font-xl);
    color: var(--accent-color);
    margin-bottom: var(--spacing-md);
}

.tabContent {
    display: none;
}

.tabs button {
    margin: var(--spacing-sm);
    font-size: var(--font-sm);
    padding: 4px 8px;
    border: 1px solid #000000;
    border-radius: 50px;
    background-color: #3dd1eb;
    color: #000000;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.tabs button:hover {
    background-color: #2fe0ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.025);
}

.tabs button:active {
    background-color: #36bbd2;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.975);
}

.rowColSelector {
    font: var(--font-sm);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xs);
}

.createButton {
    margin: var(--spacing-sm);
    justify-content: center;
    align-items: center;
    padding: 3px 6px;
    background-color: #3dd1eb;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 25px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.createButton:hover {
    background-color: #2fe0ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.025);
}

.createButton:active {
    background-color: #36bbd2;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.975);
}

.matrix {
    align-content: center;
    justify-content: center;
    align-items: center;
    display: block;
}

.madeMatrices {
    display: inline-flex;
    gap: var(--spacing-xs);
    justify-content: center;
    align-items: center;
}

input {
    width: 50px;
    margin: 3px;
    text-align: center;
}

#input {
    font-size: var(--font-sm);
}

.operator {
    font-size: var(--font-md);
}

.operatorButtons {
    font-size: var(--font-md);
    padding: var(--spacing-sm);
    padding-bottom: 0;
    display: none;
}

.operatorButtons button {
    font-size: var(--spacing-sm);
    padding: 3px 6px;
    background-color: #3dd1eb;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 25px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.operatorButtons button:hover {
    background-color: #2fe0ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.025);
}

.operatorButtons button:active {
    background-color: #36bbd2;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.975);
}

.calculate button {
    padding: 3px 6px;
    background-color: #3dd1eb;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 25px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.calculate button:hover {
    background-color: #2fe0ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.025);
}

.calculate button:active {
    background-color: #36bbd2;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.975);
}

/* .createButtons {
    display: inline-flex;
    position: relative;
    align-items: center;
    width: 20%;
    gap: var(--spacing-xs);
} */

.powerContainer {
    gap: 0;
}

.powerContainer button {
    padding: 1px;
    background-color: #3dd1eb;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 25px 0 0 25px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.powerContainer button:hover {
    background-color: #2fe0ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.025);
}

.powerContainer button:active {
    background-color: #36bbd2;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.975);
}

.powerInput {
    margin-left: 0;
    font-size: var(--spacing-sm);
    background-color: #3dd1eb;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 0 25px 25px 0;
    transition: all 0.5s;
}

.powerInput:hover {
    background-color: #2fe0ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.025);
}

.powerInput:active {
    background-color: #36bbd2;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.975);
}

.result {
    padding: var(--spacing-xs);
}